.price {
    background: #FCF7F6;
    overflow: hidden;
}

.price__container {
    margin-top: 50px;
}

.price__title {
    margin-bottom: 40px;
}

.price__subtitle {
    background: #F2F2F2;
    color: #a9a9a9;
    font-size: 20px;
    padding: 10px 0;
    display: none;
    @media (min-width: 575px) {
        display: block;
    }
}

.price__list {
    margin-top: 15px;
    margin-bottom: 100px;
}

.price__item {
    padding-top: 20px;
    &:not(:last-child) {
        border-bottom: 1px solid #D4D8E8;
        padding-bottom: 20px;
    }
}

.price__item-title {
    color: $color-red;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 500;
}

.price__item-text {
    color: #6f727b;
    margin-bottom: 15px;
    @media (min-width: 575px) {
        margin-bottom: 0;
    }
}

.price__price {
    color: #292b47;
    font-size: 20px;
    font-weight: 500;
    @media (min-width: 575px) {
        text-align: right;
    }
}

.price__info {
    font-size: 24px;
    line-height: 40px;
    color: #fff;
    background: $color-red;
    padding: 50px 0;
}