
    .form-popup.active {
        opacity: 1;
        visibility: visible;
        transition: 0.2s;
        top: 0;
        left: 0;
    }

    .floating-select {
        appearance: none;
        padding-right: 30px;
    }

    .floating-label {
        position: relative;
        margin-bottom: 2.8rem;
        display: flex;
        align-items: center;
    }

    .floating-select {
        font-size: 14px;
        display: block;
        width: 100%;
        height: 32px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #C6C6C6;
        ;
    }

    .floating-select:focus {
        outline: none;
        border-bottom: 1px solid #C6C6C6;
    }

    label:not(.custom-control-label) {
        color: #4A4A4A;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        top: 5px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    @media(max-width: 575px) {
        label:not(.custom-control-label) {
            font-size: 12px;
        }
    }

    .floating-select:focus~label,
    .floating-select:not([value=""]):valid~label {
        top: -19px;
        font-size: 14px;
        color: #c6c6c6;
    }

    .floating-select:focus~label.error,
    .floating-select:not([value=""]):valid~label.error {
        top: 5px;
    }

    /* active state */

    .floating-select:focus~.floating-select:focus~ {
        width: 50%;
    }

    *,
    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    /* active state */

    .floating-select:focus~ {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }

    .content-form-block .input::placeholder {
        color: transparent
    }

    .content-form-block .input:focus~label,
    .content-form-block .input:not(:placeholder-shown)~label {
        top: -20px;
        color: #C6C6C6;
    }


    .content-form-block .input:focus {
        outline: none
    }

    .content-form-block .group {
        position: relative;
        margin-bottom: 24px
    }

    .modal-content {
        overflow-y: scroll;
        height: 500px;
    }

    .modal-dialog {
        @media (min-width: 576px) {
            max-width: 1000px;
        }
    }

    .list-group {
        grid-gap: 0 2rem;
        grid-template-columns: 1fr 1fr;
        display: grid;
    }

    @media(max-width: 640px) {
        .modal-body {
            flex-direction: column;
        }

        .list-group {
            grid-template-columns: 1fr;
        }

    }

    @media (min-width: 768px) {
        .content-form-block .group {
            margin-bottom: 40px
        }
    }

    .content-form-block .input {
        padding: 0;
        height: 32px;
        border: none;
        border-bottom: 1px solid #C6C6C6;
        border-radius: 0;
        background: transparent;
        max-width: 100%
    }

    .content-form-block textarea.input {
        height: 48px;
    }

    .content-form-block .input.textarea {
        height: 100px
    }

    .content-form-block .label {
        transition: .2s ease all;
        font-size: 14px;
        top: 6px;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        pointer-events: none
    }

    @media(max-width: 992px) {
        .content-form-block .label {
            font-size: 13px;
        }
    }

    .content-title {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #4A4A4A;
        margin: 80px 0;
    }

    .content-form-block {
        /*padding: 54px 0;*/
    }

    .content-form-block-title {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #4A4A4A;
        max-width: 445px;
    }

    .content-form-block-hr {
        border: 1px solid #EC231A;
        max-width: 190px;
        margin: 12px 0;
    }

    .content-form-block-description {
        font-family: Montserrat;
        font-size: 16px;
        line-height: 140%;
        color: #4A4A4A;
        max-width: 630px;
    }

    .content-form-block-form {
        border: 1px solid #C6C6C6;
        padding: 48px 24px 24px;
        margin-top: 40px;
    }

    @media (min-width: 768px) {
        .content-form-block-form {
            margin-top: 0px;
        }
    }

    .content-form-block-form .content-button {
        width: 100%;
        display: block;
    }

    .content-list-item {
        padding: 40px 0;
    }

    @media (min-width: 768px) {
        .content-list-item {
            padding: 80px 0;
        }
    }

    .content-list-item:not(:last-child) {
        border-bottom: 1px solid #C6C6C6;
    }

    .content-list-item-title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #4A4A4A;
        margin-bottom: 40px;
    }

    @media (min-width: 768px) {
        .content-list-item-title {
            margin-bottom: 70px;
        }
    }

    .blocks h1,
    .blocks h2,
    .blocks h3,
    .blocks h4,
    .blocks h5,
    .blocks h6,
    .content-list-item-subtitle {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 145%;
        color: #4A4A4A;
        margin-bottom: 16px;
    }

    .blocks b,
    .content-list-item-label {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 13px;
        line-height: 145%;
        color: #4A4A4A;
        margin-bottom: 8px;
    }

    .blocks p,
    .content-list-item-value {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 145%;
        color: #4A4A4A;
    }

    .content-list-item-value:not(:last-child) {
        margin-bottom: 16px;
    }

    .content-list-item-img {
        object-fit: contain;
        object-position: left;
        max-width: 100%;
        max-width: 265px;
        height: 55px;
        margin: 24px 0;
    }

    @media (min-width: 768px) {
        .content-list-item-img {
            margin: 0;
            max-width: 265px;
        }
    }

    .content-button {
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        padding: 14px 22px;
        background: #EC231A;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        border: 1px solid #EC231A
    }

    .content-button:hover {
        color: #ec231a;
        text-decoration: none;
        background: transparent
    }

    .content-button:active {
        background: transparent;
        color: #c31810;
        border: 1px solid #c31810
    }

    .content-button:focus {
        outline: none
    }

    .form-group.floating>label {
        bottom: 34px;
        left: 8px;
        position: relative;
        background-color: white;
        padding: 0px 5px 0px 5px;
        font-size: 1.1em;
        transition: 0.1s;
        pointer-events: none;
        font-weight: 500 !important;
        transform-origin: bottom left;
    }

    .form-control.floating:focus~label {
        transform: translate(1px, -85%) scale(0.80);
        opacity: .8;
        color: #005ebf;
    }

    .form-control.floating:valid~label {
        transform-origin: bottom left;
        transform: translate(1px, -85%) scale(0.80);
        opacity: .8;
    }

    .modal-xl {
        max-width: 80vw;
    }

    .branches {
        margin-top: 60px;
        padding-left: 0;
        padding-right: 0;
    }

    @media(max-width: 575px) {
        .branches {
            margin-top: 30px;
        }
    }
