.service-content__title {
  margin-bottom: 30px;
}

.service-content p {
  color: #6f727b;
  font-weight: 300;
}

.service-content__quote {
  color: #292B47;
  font-weight: 500;
  font-style: italic;
  position: relative;
  margin-top: 40px;

}