:root {
  --font-family-sans-serif: Montserrat, Roboto sans-serif
}

html {
  font-family: var(--font-family-sans-serif)
}

body {
  font-family: var(--font-family-sans-serif)
}

* {
  color: #4a4a4a
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.home-page-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px
}

.home-page-block-1 {
  background-image: url('banner.68566a95.png');
  min-height: calc(100vh - 108px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  margin-top: 108px;
}

.home-page-block-1 .container {
  height: 100%;
  padding-top: 60px;
  flex: 1
}

@media (min-width: 768px) {
  .home-page-block-1 .container {
    padding-top: 100px
  }
}

.home-page-block-1-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 110%;
  color: #f8f8f8;
  margin-bottom: 20px
}

@media (min-width: 768px) {
  .home-page-block-1-title {
    font-size: 55px
  }
}

.home-page-block-1-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 20px
}

.home-page-block-1-item {
  display: flex;
  align-items: flex-start;
  padding: 12px 20px;
  background: #F8F8F8;
  border-radius: 30px;
  margin-bottom: 4px
}

.home-page-block-1-item:not(:last-child) {
  margin-right: 12px
}

.home-page-block-1-form {
  background: #F8F8F8;
  border-radius: 20px;
  padding: 60px 30px 40px;
  max-width: 350px;
  width: 100%
}

.home-page-block-1-info {
  margin-top: 48px;
  margin-bottom: 48px;
  align-self: flex-start;
  padding: 20px 32px;
  background: #DEEFFF;
  border-radius: 60px;
  display: flex;
  align-items: center
}

.home-page-block-1-info-button {
  padding: 0;
  width: 24px;
  min-width: 24px;
  height: 24px;
  background: #F8F8F8;
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 24px
}

.home-page-block-1-info-button:hover {
  background: transparent;
  border: 1px solid #FF0000
}

.home-page-block-1-info-button:hover svg path {
  stroke: red
}

.home-page-block-1-info-button:active {
  background: #FF0000
}

.home-page-block-1-info-button:active svg path {
  stroke: #fff
}

.home-page-block-1-info-button:focus {
  outline: none
}

.home-page-block-2 {
  background: #F8F8F8;
  padding: 30px 0
}

@media (min-width: 768px) {
  .home-page-block-2 {
    padding: 60px 0
  }
}

.home-page-block-2-item > div:first-child {
  font-weight: 600;
  font-size: 42px;
  line-height: 120%;
  color: red;
  margin-bottom: 8px
}

@media (min-width: 768px) {
  .home-page-block-2-item > div:first-child {
    margin-bottom: 16px
  }
}

.home-page-block-2-item > div:last-child {
  font-size: 14px;
  line-height: 145%;
  color: #000
}

.home-page-block-2 .home-page-title {
  margin-bottom: 32px
}

.home-page-block-3 {
  padding: 60px 0
}

@media (min-width: 768px) {
  .home-page-block-3 {
    padding: 100px 0
  }
}

.home-page-block-3 .home-page-title {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #FF0000
}

.home-page-block-3-item {
  font-size: 16px;
  line-height: 140%;
  opacity: .8
}

.home-page-block-3-img {
  display: block;
  max-width: 100%;
  margin-top: 32px
}

.home-page-block-4 {
  background: #F8F8F8;
  padding: 20px 0
}

@media (min-width: 768px) {
  .home-page-block-4 {
    padding: 40px 0
  }
}

.home-page-block-4 .home-page-title {
  margin-bottom: 12px
}

.home-page-block-4-item {
  font-size: 16px;
  line-height: 140%;
  opacity: .8;
  max-width: 300px
}

.home-page-block-4-button {
  cursor: pointer;
  padding: 14px 27px;
  background: #EAEAEA;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 20px
}

.home-page-block-4-button:focus {
  outline: none
}

@media (min-width: 768px) {
  .home-page-block-4-button {
    margin-top: 40px
  }
}

.home-page-block-5 {
  padding: 40px 0;
  background: #DEEFFF
}

.home-page-block-5 .home-page-title {
  margin-bottom: 12px
}

.home-page-block-5-text {
  font-size: 16px;
  line-height: 140%;
  opacity: .8
}

.home-page-block-5-img {
  max-width: 100%
}

.home-page-block-6 {
  padding: 60px 0 0
}

@media (min-width: 768px) {
  .home-page-block-6 {
    padding: 100px 0 0
  }
}

.home-page-block-6 .swiper-slide {
  background: #F8F8F8
}

.home-page-block-6-swiper {
  margin-top: 30px
}

@media (min-width: 768px) {
  .home-page-block-6-swiper {
    margin-top: 60px
  }
}

.home-page-block-6-swiper-slide {
  padding: 16px
}

@media (min-width: 768px) {
  .home-page-block-6-swiper-slide {
    padding: 40px
  }
}

.home-page-block-6-swiper-slide-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px
}

.home-page-block-6-swiper-slide-desctiption {
  font-size: 14px;
  line-height: 145%
}

.home-page-block-7 {
  padding: 60px 0 0
}

@media (min-width: 768px) {
  .home-page-block-7 {
    padding: 100px 0 0
  }
}

.home-page-block-7 .row {
  margin-top: 60px
}

.home-page-block-7-item {
  margin-bottom: 40px
}

.home-page-block-7-item-img {
  margin-right: 24px;
  margin-top: 4px
}

.home-page-block-7-item-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 145%;
  max-width: 250px
}

.home-page-block-7-info {
  background: #DEEFFF;
  padding: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px
}

@media (min-width: 768px) {
  .home-page-block-7-info {
    padding: 40px;
    margin-top: 60px
  }
}

.home-page-block-8 {
  padding: 60px 0 0
}

@media (min-width: 768px) {
  .home-page-block-8 {
    padding: 100px 0 0
  }
}

.home-page-block-8-item-img {
  margin-top: 32px;
  display: block;
  max-width: 100%
}

.home-page-block-8-item-content {
  padding: 20px;
  background: #FAFAFA
}

.home-page-block-8-item-content-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 8px
}

.home-page-block-8-item-content-date {
  font-size: 14px;
  line-height: 145%;
  opacity: .6
}

.home-page-block-9 {
  padding: 60px 0 0
}

@media (min-width: 768px) {
  .home-page-block-9 {
    padding: 100px 0 0
  }
}

.home-page-block-9 .swiper-slide {
  background: #F8F8F8
}

.home-page-block-9-swiper {
  margin-top: 30px
}

@media (min-width: 768px) {
  .home-page-block-9-swiper {
    margin-top: 60px
  }
}

.home-page-block-9-swiper-slide {
  padding: 16px
}

@media (min-width: 768px) {
  .home-page-block-9-swiper-slide {
    padding: 40px
  }
}

.home-page-block-9-swiper-slide-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 145%;
  margin-bottom: 4px
}

.home-page-block-9-swiper-slide-date {
  font-size: 14px;
  line-height: 145%;
  margin-bottom: 12px
}

.home-page-block-9-swiper-slide-content {
  font-size: 14px;
  line-height: 145%
}

.home-page-block-9 .home-page-button {
  margin-right: 40px
}

.home-page-footer {
  margin-top: 60px
}

@media (min-width: 768px) {
  .home-page-footer {
    margin-top: 100px
  }
}

.home-page-footer-block-1 {
  background: #F8F8F8;
  padding: 40px 0
}

.home-page-footer-block-1-logo {
  margin-bottom: 24px;
  display: block
}

.home-page-footer-block-1-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 145%;
  margin-bottom: 12px
}

@media (min-width: 768px) {
  .home-page-footer-block-1-title {
    margin-bottom: 20px
  }
}

.home-page-footer-block-1-social-link:not(:last-child) {
  margin-right: 16px
}

.home-page-footer-block-1-links {
  display: flex;
  flex-direction: column
}

.home-page-footer-block-1-links > a, .home-page-footer-block-1-links > div {
  font-size: 14px;
  line-height: 145%;
  color: #4a4a4a
}

.home-page-footer-block-1-links > a:hover, .home-page-footer-block-1-links > div:hover {
  color: #4a4a4a
}

.home-page-footer-block-1-links > a:not(:last-child), .home-page-footer-block-1-links > div:not(:last-child) {
  margin-bottom: 12px
}

.home-page-footer-block-2 {
  background: #EAEAEA;
  font-weight: 500;
  font-size: 12px
}

.home-page-swiper-button {
  cursor: pointer;
  width: 36px;
  height: 36px;
  background: #F9F9F9;
  padding: 0;
  border-radius: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center
}

.home-page-swiper-button + button {
  margin-left: 40px
}

.home-page-swiper-button:hover {
  text-decoration: none;
  background: transparent;
  border: 1px solid #FF0000
}

.home-page-swiper-button:hover svg path {
  fill: red
}

.home-page-swiper-button:active {
  background: #FF0000
}

.home-page-swiper-button:active svg path {
  fill: #fff
}

.home-page-swiper-button:focus {
  outline: none
}

.home-page-link {
  font-size: 16px;
  line-height: 140%;
  color: red
}

.home-page-link:hover {
  color: red
}

.home-page-button {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 22px;
  background: #EC231A;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  border: 1px solid #EC231A;
  color: #f8f8f8
}

.home-page-button.block {
  width: 100%
}

.home-page-button.small {
  font-size: 12px
}

.home-page-button:hover {
  color: #ec231a;
  text-decoration: none;
  background: transparent
}

.home-page-button:active {
  background: transparent;
  color: #c31810;
  border: 1px solid #c31810
}

.home-page-button:focus {
  outline: none
}

/*.home-page .input:focus ~ label, .home-page .input:valid ~ label {*/
/*  top: -20px*/
/*}*/

/*.home-page .input:focus {*/
/*  outline: none*/
/*}*/

/*.home-page .group {*/
/*  position: relative;*/
/*  margin-bottom: 20px*/
/*}*/

/*@media (min-width: 768px) {*/
/*  .home-page .group {*/
/*    margin-bottom: 24px*/
/*  }*/
/*}*/

/*.home-page .input {*/
/*  padding: 0;*/
/*  height: 32px;*/
/*  border: none;*/
/*  border-bottom: 1px solid #C6C6C6;*/
/*  border-radius: 0;*/
/*  background: none;*/
/*  max-width: 100%*/
/*}*/

/*.home-page .input.textarea {*/
/*  height: 100px*/
/*}*/

/*.home-page .label {*/
/*  transition: .2s ease all;*/
/*  font-size: 14px;*/
/*  top: 6px;*/
/*  left: 0;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  position: absolute;*/
/*  pointer-events: none;*/
/*  opacity: .8*/
/*}*/


