.new-item {
  margin-bottom: 40px;
}

.new-item__link {
  width: 100%;
  display: block;
  color: #292B47;
  margin-bottom: 20px;
}

.new-item__img {
  width: 100%;
  margin-bottom: 20px;
}

.new-item__title {
  width: 100%;
  font-weight: 600;
  font-family: Montserrat;
  font-size: 20px;
  line-height: 24px;
}

.new-item__date {
  margin-bottom: 20px;
}

.new-item__desc {
  color: #6f727b;
  font-weight: 300;
}