.post {
  background: #FCF7F6;
  padding-bottom: 80px;
}

.post__container {
  margin-top: 50px;
}

.post__title {
  margin-bottom: 40px;
}

.post__subtitle {
  margin-bottom: 30px;
  @media (min-width: 768px) {
    padding-left: 40px;
  }

}

.post__img {
  width: 100%;
  border-radius: 5px;
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
}
.post__date {
  margin-bottom: 30px;
}
.post__content {
  padding: 20px;
  background: white;
  margin-bottom: 20px;

  @media (min-width: 375px) {}
  @media (min-width: 768px) {
    padding: 45px 70px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -80px;
    position: relative;
    z-index: 1;
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
  }
  p {
    color: #6f727b;
    font-weight: 300;
    margin-bottom: 20px;
  }
}

.post__content-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.post__media {
  margin-top: 40px;
  margin-bottom: 40px;
}

.media__left {
  iframe {
    width: 100%;
  }
  margin-bottom: 30px;
  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

.media__img-wrap {
  height: 100%;
}
.media__img {
  //width: 100%;
  //height: 300px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 375px) {}
  @media (min-width: 768px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1390px) {
    //height: 303.75px;
  }

}

.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr, .fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon {
  opacity: 1 !important;
  transform: none !important;
  &.fotorama__arr--disabled {
    opacity: .1 !important;
  }
}

.fotorama--fullscreen {
  .media__img-wrap {
    height: 100%;
  }
  .media__img {
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}



.post__bottom {
  margin-top: 35px;
  @media (min-width: 768px) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.post__bottom-right {
  text-align: right;
}